html , body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background:white ;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration { display: none; }
body {
    font-family: FedExSans;
    transition: 0.5s;
}
@font-face{ 
    font-family:FedExSans;
    font-style:normal; 
    font-weight:300;src:url("../Fonts/FedExSans_W-Light.woff2") format("woff2")}

@font-face{ 
    font-family:FedExSans; 
    font-style:italic; 
    font-weight:300;src:url("../Fonts/FedExSans_W-Light-Italic.woff2") format("woff2")}

@font-face{
    font-family:FedExSans;
    font-style:normal;
    font-weight:400;src:url("../Fonts/FedExSans_W-Regular.woff2") format("woff2")}

@font-face{
    font-family:FedExSans;
    font-style:italic;
    font-weight:400;src:url("../Fonts/FedExSans_W-Italic.woff2") format("woff2")}
    
@font-face{
     font-family:FedExSans;   .
     font-style:normal; 
     font-weight:500;src:url("../Fonts/FedExSans_W-Medium.woff2") format("woff2")}
     
@font-face {
    font-family:FedExSans;
    font-style:normal;
    font-weight:700;src:url("../Fonts/FedExSans_W-Bold.woff2") format("woff2")}

@font-face { 
    font-family:FedExSans; 
    font-style:italic; 
    font-weight:700;src:url("../Fonts/FedExSans_W-Bold-Italic.woff2") format("woff2")}
    
@font-face {
    font-family:FedExSansArabic; 
    font-style:normal; 
    font-weight:700;src:url("../Fonts/FedExSansArabic_W-Bold.woff2") format("woff2")}

@font-face {
    font-family: FedExSansArabic; 
    font-style:normal;  
    font-weight:300;src:url("../Fonts/FedExSansArabic_W-Light.woff2") format("woff2")}

@font-face { 
    font-family:FedExSansArabic; 
    font-style:normal;
    font-weight:400;src:url("../Fonts/FedExSansArabic_W-Regular.woff2") format("woff2")}



body ,button  , p , input {
    font-family: FedExSans,Arial,sans-serif;
    
}

* {
  box-sizing: border-box !important;
}
#dark {
    height:100%;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(0px);
    background: rgb(0,0,0,0);
    z-index:9;
    display: none;
    overflow: auto;
}
#menu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  display: none;
  left: 100%;
  
}
.close {
  margin: 20px;
  color: white;
  font-size: 20px;
}

#cont {
  margin: 30px;
}
* {
    transition: 0.3s !important;
}
a {
    text-decoration: none ! important;
}
#container {
    margin: 0;
    padding: 0;
    background: white;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 120px;
}
.header {
     padding: 0px 10px 10px 10px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgb(0,0,0,0.5);
    border-radius: 0px 0px 13px 13px;
    transition: .3s;
    z-index: 99;
    background: rgb(0,0,0,.3);
    backdrop-filter:blur(20px);
    padding-top: 10px;
}
.logo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 15px;
}
.logo img {
    height: 50px;
    margin: 0;
    margin-right: 10px;
    border-radius: 15px;
}
.logo p {
    display: inline;
    font-size: 22px;
    margin-right: 10px;
    color: #08662f  ;
    font-weight: 700;
    margin: 0;
    font-family: ;
}

a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

#search_div {
    border-radius: 13px;
    border: 1.5px solid rgb(0,0,0,0);
    padding: 5px;
    display: flex;
    box-sizing: border-box;
    min-width: ;
    width: 65%;
    max-height: 40px;
    background: rgb(255,255,255,.3);
}
#search_div i {
   font-size: 20px;
    padding: 5px;
    border: none;
    background: transparent;
    
}
#search_div input {
    font-size: 16px;
    max-width: 80%;
    width: 80%;
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 500;
}
#search_div:hover {
    box-shadow: 0px 0px 10px rgb(0,0,0,0.2);
    scale: 1.02 1;
}
#search_div input::placeholder {
    color: rgb(0,0,0,.5);
}
#first {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
}
#first img {
    height: 50px;
    margin-right:10px;
    border-radius:15px;
}
#first p {
    font-size: 23px;
    margin-left: 10px;
    font-weight: 700;
    color: #307a00;
}
.second {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    color: black;
}
.second i {
    border: 1.5px solid rgb(0,0,0,0);
    border-radius: 13px;
    padding: 10px;
    font-size: 20px;
    margin:0 5px;
    background: rgb(255,255,255,.3);
    color: black;
}
#navig {
    font-size: 20px;
    border-radius: 15px;
    transform: rotateX(0deg);
    transition: 0.3s !important;
    background: transparent;
}
#nav {
    position: absolute;
    bottom: -35%;
    border-radius: 10px;
    right: 5%;
    padding: 2px;
    border: 1px solid rgb(0,0,0,0.5);
    background: rgb(255,255,255,0.3);
    backdrop-filter:blur(20px);
}
#nav i {
    padding: 5px;
    font-size: 20px;
}

.flexbox {
  width: 90%;
  margin-left: 5%;
  border-radius: 15px;
  box-shadow: 0px 2px 2px rgb(0,0,0,0.2);
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  padding: 10px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.flex img {
  height: 80px;
  max-height: 80px;
  padding:10px;
  border-radius: 15px;
  border: 1px solid rgb(0,0,0,0.2);
}
.flex img:hover {
  scale: 1.05;
  box-shadow: 0px 2px 2px rgb(0,0,0,0.2);
}
.pid {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.flexp {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 600;
    color: black;
}
.flexpid {
    color: rgb(0,0,0,.7);
    margin: 10px;
}
.link {
  display: flex;
  color: white;
  background: rgb(0,134,47);
  border-radius: 15px;
  padding: 10px;
  justify-content: center;
  align-items: ;
  width: 100%;
  margin-top: 15px;
  gap: 16px;
}
.link i {
  font-size: 20px;
  margin: 0px 5px;
  padding: 0;
}
.link p {
  font-size: 15px;
  margin: 0;
  padding-block: 0;
}





















#helpp {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
#links {
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-around;
    align-items: center;
}
#links img {
    max-width: 30px;
    max-height: 30px;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0px 0px 1px rgb(0,0,0,0.5);
}
#phon {
    display: flex;
    align-items: center;
}
#phon p {
    margin-left: 10px;
}
#pho {
    display: flex;
    flex-direction: column;
}
